<div class="container">
    <div class="card ">
        <div class="card-body">
            <h5 class="card-title">Đặt vé máy bay</h5>

            <div class="row">
                <div class="col col-sm-6 col-md-3">
                    <label for="basic-url" class="form-label">Từ</label>
                    <div class="input-group mb-3">
                        <select class="form-select" id="inputGroupSelect02">
                            <option selected>Hà Nội</option>
                            <option value="1">TP. Hồ Chí Minh</option>
                            <option value="2">Đà Nẵng</option>
                            <option value="3">London</option>
                            <option value="4">Roma</option>
                            <option value="5">Tokyo</option>
                        </select>
                    </div>
                </div>
                <div class="col col-sm-6 col-md-3">
                    <label for="basic-url" class="form-label">Đến</label>
                    <div class="input-group mb-3">
                        <select class="form-select" id="inputGroupSelect02">
                            <option selected>Hà Nội</option>
                            <option value="1">TP. Hồ Chí Minh</option>
                            <option value="2">Đà Nẵng</option>
                            <option value="3">London</option>
                            <option value="4">Roma</option>
                            <option value="5">Tokyo</option>
                        </select>
                    </div>
                </div>
                <div class="col col-sm-6 col-md-3">
                    <label for="basic-url" class="form-label">Ngày đi</label>
                    <div class="input-group mb-3">
                        <input type="date" class="form-control" id="basic-url" aria-describedby="basic-addon3" />
                    </div>
                </div>
                <div class="col col-sm-6 col-md-3">
                    <label for="basic-url" class="form-label">Ngày về</label>
                    <div class="input-group mb-3">
                        <input type="date" class="form-control" id="basic-url" aria-describedby="basic-addon3" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-sm-6 col-md-3">
                    <label for="basic-url" class="form-label">Họ và tên</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"placeholder="Họ và tên" />
                    </div>
                </div>
                <div class="col col-sm-6 col-md-3">
                    <label for="basic-url" class="form-label">Số CCCD/CMND</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="CCCD" />
                    </div>
                </div>
                <div class="col col-sm-6 col-md-3">
                    <label for="basic-url" class="form-label">Email</label>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="email@email.email" />
                    </div>
                </div>
                <div class="col col-sm-6 col-md-3">
                    <label for="basic-url" class="form-label">Số điện thoại</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="0123456789" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-sm-6">
                    <label for="basic-url" class="form-label">Cân nặng hành lý (Kg)</label>
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" id="basic-url" aria-describedby="basic-addon3" />
                    </div>
                </div>
                <div class="col col-sm-6 ">
                    <label for="basic-url" class="form-label">Phương thức thanh toán</label>
                    <div class="input-group mb-3">
                        <select class="form-select" id="inputGroupSelect02">
                            <option selected>Online</option>
                            <option value="1">Thanh toán tại quầy</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="justify-content-center">
            <button type="button" class="btn btn-secondary justify-content-center">Reset</button>
            <button type="button" class="btn btn-primary justify-content-center">Đặt vé</button>
        </div>
        </div>
    </div>
</div>