<div class="container-fluid">
    <div class="bg-primary" style="text-align: center;">
        <h2 class="text-light">Liên hệ với chúng tôi</h2>
        <p class="fw-bolder text-light">Chúng tôi luôn sẵn sàng hỗ trợ, dù bạn ở bất cứ đâu!</p>
    </div>
    <div class="container">
        <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                    role="tab" aria-controls="home" aria-selected="true">Câu hỏi thường gặp</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                    role="tab" aria-controls="profile" aria-selected="false">Tuyển dụng & đối tác</button>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                    <div class="col-6">
                        <div >
                            <img src="/images/lienhe.jpg" class="w-100 img-thumbnail my-5">
                          </div>
                    </div>
                    <div class="col-6">
                        <div class="card my-5">
                            <div class="card-body">
                                <h5 class="card-title">Chủ đề phổ biến</h5>
                                <table class="table table-hover">
                                    <tbody>
                                      <tr>
                                        <td><a href="#">Đặt chỗ trực tiếp để đảm bảo an toàn </a></td>
                                      </tr>
                                      <tr>
                                        <td><a href="#">Cách đổi lịch vé máy bay của tôi</a> </td>
                                      </tr>
                                      <tr>
                                        <td><a href="#">Cách hủy vé và hoàn tiền cho đặt chỗ máy bay</a></td>
                                      </tr>
                                      <tr>
                                        <td><a href="#">Cách sửa hoặc đổi tên hành khách bay</a></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <h6 class="card-title"><a href="#">Hiển thị thêm</a></h6>
                            </div>
                          </div>
                        
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                
                  <div class="card my-5">
                    <div class="card-body">
                        <h5 class="card-title">Tuyển dụng</h5>
                        
                        <h6 class="card-title">Để tìm hiểu thêm về cơ hội nghề nghiệp, vui lòng xem <a href="#">trang Tuyển dụng.</a></h6>
                    </div>
                  </div>
                  <div class="card my-5">
                    <div class="card-body">
                        <h5 class="card-title">Ấn phẩm & Truyền thông</h5>
                       
                        <h6 class="card-title">Nếu bạn là nhân viên truyền thông, hãy gửi yêu cầu đến pr@traveloka.com. Chúng tôi sẽ không trả lời lại những email không phải là yêu cầu báo chí. </h6>
                    </div>
                  </div>
                  <div class="card my-5">
                    <div class="card-body">
                        <h5 class="card-title">Đối tác</h5>
                       
                        <h6 class="card-title">Đối với các yêu cầu hoặc đề nghị hợp tác, vui lòng gửi email về cho chúng tôi tại partnership@traveloka.com.

                            Đối với sản phẩm / dịch vụ tiếp thị số (ví dụ dịch vụ qua ứng dụng, nền tảng tối ưu hoá chiến lược kỹ thuật số v.v.) vui lòng gửi email đến digitalmarketing@traveloka.com.</h6>
                    </div>
                  </div>
                  <div class="card my-5">
                    <div class="card-body">
                        <h5 class="card-title">Tài trợ</h5>
                       
                        <h6 class="card-title">Đối với các sự kiện, chương trình, CSR, và các cơ hội tài trợ khác, vui lòng gửi đề nghị của bạn đến sponsorship@traveloka.com.</h6>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>