<div class="container-fluid">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/slide1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/slide2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/slide3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/slide4.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class="container">
        <div class="card my-2">
          <div class="card-body">
            <h5 class="card-title">Bay muôn nơi</h5>
            <h6 class="card-subtitle mb-2 text-muted">Điểm đến hấp dẫn</h6>

            <div class="row">
              <div class="col col-sm-6 col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="/images/trangchu1.jpg" class="card-img-top h-30" alt="..." height="180px">
                  <div class="card-body">
                    <h5 class="card-title">Bangkok</h5>
                    <p class="card-text">Một điểm đến hấp dẫn</p>
                    <a href="#" class="btn btn-primary">Đặt ngay</a>
                  </div>
                </div>
              </div>
              <div class="col col-sm-6 col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="/images/trangchu5.jpg" class="card-img-top h-30" alt="..." height="180px">
                  <div class="card-body">
                    <h5 class="card-title">Tokyo</h5>
                    <p class="card-text">Phù hợp với bạn và gia đình</p>
                    <a href="#" class="btn btn-primary">Đặt ngay</a>
                  </div>
                </div>
              </div>
              <div class="col col-sm-6 col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="/images/trangchu3.jpg" class="card-img-top h-30" alt="..." height="180px">
                  <div class="card-body">
                    <h5 class="card-title">London</h5>
                    <p class="card-text">Với những thành phố nhộn nhịp</p>
                    <a href="#" class="btn btn-primary">Đặt ngay</a>
                  </div>
                </div>
              </div>
              <div class="col col-sm-6 col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="/images/trangchu4.jpg" class="card-img-top h-30" alt="..." height="180px">
                  <div class="card-body">
                    <h5 class="card-title">Roma</h5>
                    <p class="card-text">Cùng với người dân thân thiện</p>
                    <a href="#" class="btn btn-primary">Đặt ngay</a>
                  </div>
                </div>
              </div>
          </div>

          <div class="row my-3">
            <div class="col col-sm-6 col-md-3">
              <div class="card" style="width: 18rem;">
                <img src="/images/trangchu2.jpg" class="card-img-top h-30" alt="..." height="180px">
                <div class="card-body">
                  <h5 class="card-title">Tokyo</h5>
                  <p class="card-text">Một điểm đến hấp dẫn</p>
                  <a href="#" class="btn btn-primary">Đặt ngay</a>
                </div>
              </div>
            </div>
            <div class="col col-sm-6 col-md-3">
              <div class="card" style="width: 18rem;">
                <img src="/images/trangchu6.jpg" class="card-img-top h-30" alt="..." height="180px">
                <div class="card-body">
                  <h5 class="card-title">Hà Nội</h5>
                  <p class="card-text">Phù hợp với bạn và gia đình</p>
                  <a href="#" class="btn btn-primary">Đặt ngay</a>
                </div>
              </div>
            </div>
            <div class="col col-sm-6 col-md-3">
              <div class="card" style="width: 18rem;">
                <img src="/images/trangchu7.jpg" class="card-img-top h-30" alt="..." height="180px">
                <div class="card-body">
                  <h5 class="card-title">Đà Nẵng</h5>
                  <p class="card-text">Với những thành phố nhộn nhịp</p>
                  <a href="#" class="btn btn-primary">Đặt ngay</a>
                </div>
              </div>
            </div>
            <div class="col col-sm-6 col-md-3">
              <div class="card" style="width: 18rem;">
                <img src="/images/trangchu8.jpg" class="card-img-top h-30" alt="..." height="180px">
                <div class="card-body">
                  <h5 class="card-title">TP. Hồ Chí Minh</h5>
                  <p class="card-text">Cùng với người dân thân thiện</p>
                  <a href="#" class="btn btn-primary">Đặt ngay</a>
                </div>
              </div>
            </div>
        </div>

          </div>
        </div>
      </div>
    
</div>